D314/tp1/WebClient/xml-resources/web-service-references/SimpleCalculator/wsdl/localhost_8080/tutorial/SimpleCalculator.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.2 (UNKNOWN-17d59c9; 2018-09-26T15:16:30-0700) JAXWS-RI/2.3.1 JAXWS-API/2.3.1 JAXB-RI/2.3.1 JAXB-API/2.3.1 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://miage.org/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://miage.org/" name="SimpleCalculator">
<types>
<xsd:schema>
<xsd:import namespace="http://miage.org/" schemaLocation="http://localhost:8080/tutorial/SimpleCalculator?xsd=1"/>
</xsd:schema>
</types>
<message name="decomposer">
<part name="parameters" element="tns:decomposer"/>
</message>
<message name="decomposerResponse">
<part name="parameters" element="tns:decomposerResponse"/>
</message>
<message name="premier">
<part name="parameters" element="tns:premier"/>
</message>
<message name="premierResponse">
<part name="parameters" element="tns:premierResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="additionner">
<part name="parameters" element="tns:additionner"/>
</message>
<message name="additionnerResponse">
<part name="parameters" element="tns:additionnerResponse"/>
</message>
<portType name="SimpleCalculator">
<operation name="decomposer">
<input wsam:Action="http://miage.org/SimpleCalculator/decomposerRequest" message="tns:decomposer"/>
<output wsam:Action="http://miage.org/SimpleCalculator/decomposerResponse" message="tns:decomposerResponse"/>
</operation>
<operation name="premier">
<input wsam:Action="http://miage.org/SimpleCalculator/premierRequest" message="tns:premier"/>
<output wsam:Action="http://miage.org/SimpleCalculator/premierResponse" message="tns:premierResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://miage.org/SimpleCalculator/helloRequest" message="tns:hello"/>
<output wsam:Action="http://miage.org/SimpleCalculator/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="additionner">
<input wsam:Action="http://miage.org/SimpleCalculator/additionnerRequest" message="tns:additionner"/>
<output wsam:Action="http://miage.org/SimpleCalculator/additionnerResponse" message="tns:additionnerResponse"/>
</operation>
</portType>
<binding name="SimpleCalculatorPortBinding" type="tns:SimpleCalculator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="decomposer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="premier">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="additionner">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SimpleCalculator">
<port name="SimpleCalculatorPort" binding="tns:SimpleCalculatorPortBinding">
<soap:address location="http://localhost:8080/tutorial/SimpleCalculator"/>
</port>
</service>
</definitions>